body{

    background-color: rgb(221, 219, 219);
}
.carta{
    background-color: white;
    margin: 470px;
    padding: 8px;
}
.header{
    background-color: skyblue;
    margin: 8px;
    padding: 8px ;
    font-size: 16px;

}
.bodi{
    background-color: skyblue;
    margin: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
}
.footer{
    background-color: skyblue;
    margin: 8px; 
    padding: 8px;

    
}
button{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;
}


